PORT=9002

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123zhangbei
DB_NAME=navigation

ROAD_TABLE=roads
ROAD_GEOM_COLUMN=geom
ROAD_ID_COLUMN=id

ROUTE_BUFFER_DEG=0.15
ROUTE_MAX_BUFFER_DEG=0.8
ROUTE_BUFFER_STEP_DEG=0.15
SNAP_TOLERANCE_M=500
